# indicates where Agency Logo files are stored
AgencyLogoDir=/vc/etc/naphsis/evve/config/EVVE_MI/AgencyLogos/

# Where Fact of Death Batch files are stored
FactOfDeathWorkingDirectory=/config/FactOfDeath
