<style TYPE='text/css'>
.text8PtDarkGray {
    font-family: verdana, arial;
    color: #808080;
    font-size: 8pt;
}
.text8Pt {
    font-family: verdana, arial;
    color: black;
    font-size: 8pt;
}
.textInvisible {
    font-family: verdana, arial;
    color: white;
    visibility: hidden;
    font-size: 8pt;
    text-decoration: none;
}
</style>

        <table width="652">
            <tr>
                <td height="45">&nbsp;</td>
            </tr>
            <tr>
                <td width="100%"><hr/></td>
            </tr>
            <tr>
                <td class="text8PtDarkGray" valign="top" height="20">For EVVE Application Support:</td>
            </tr>
        </table> 
        <table>
            <tr>
                <td width="45"></td>
                <td class="text8PtDarkGray">Phone:</td>
                <td class="text8Pt">1-800-669-8312</td>
            </tr>
            <tr>
                <td></td>
                <td class="text8PtDarkGray">Email:</td>
                <td class="text8PtDarkGray"><a class="text8PtDarkGray" href="mailto:{{ evve_support }}">{{ evve_support }}</a></td>
            </tr>
        </table>

        <table width="652">
            <tr>
                <td height="10">&nbsp;</td>
            </tr>
            <tr>
                <td class="text8PtDarkGray" valign="top" height="20">For EVVE Password Resets:</td>
            </tr>
        </table> 
        <table>
            <tr>
                <td width="45"></td>
                <td class="text8PtDarkGray">Email:</td>
                <td class="text8PtDarkGray"><a class="text8PtDarkGray" href="mailto:{{ evve_help }}">{{ evve_help }}</a></td>
            </tr>
        </table>